[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
alembic = "*"
python-dotenv = "*"
python-multipart = "*"
apscheduler = "*"
openpyxl = "*"
asyncpg = "*"
python-jose = {extras = ["cryptography"], version = "*"}
uvicorn = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.13"
